* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto serif";
}

body {
  box-sizing: border-box;
}

body a {
  cursor: pointer;
}

body button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 600;

  @media (max-width: 500px) {
    font-size: 36px;
  }
}

body h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;

  @media (max-width: 500px) {
    font-size: 28px;
  }
}

body h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}


body h4 {
  font-size: 20px;
  font-weight: 600;
}

body h6 {
  font-size: 16px;
  font-weight: 500;
}

.discount {
  display: flex;
  justify-content: space-between;
  padding: 11px 64px;
  background-color: #F0DACD;

  @media (max-width: 600px) {
    display: none;
  }
}

body > header {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px ;
  align-items: center;

  @media (max-width: 1070px) {
    padding: 16px 32px;
  }
}


header button {
  background-color: #89D3D1;
  padding: 6px 16px;
  border-radius: 71px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

header nav ul {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (max-width: 1200px) {
    gap: 16px;
  }
}

header nav {
  display: flex;
  gap: 40px;


  @media (max-width: 1000px) {
    > :nth-child(2) {
      display: none;
    }
  }


  @media (max-width: 700px) {
    display: none;
  }
}

.home img {
  width: 100%;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #F7F2EC;
  padding: 64px 16px;
}

.showcase div p {
  font-size: 20px;
}

.showcase h1, h3, p {
  text-align: center;
}

.showcase h1 {
  max-width: 1100px;
  margin-bottom: 8px;
}

.showcase h3 {
  margin-bottom: 8px;
}

.showcase p {
  max-width: 967px;
}

.showcase ul {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: center;
}

.teddy-article {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  background-color: #fff;
  padding: 4px;

  header {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px ;
    align-items: center;
  }
}

.teddy-article header {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  justify-content: center;
}

.la-primavera {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 62px;
  border: 3px solid #C9B079;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 20px;
  width: fit-content;
  font-style: italic;
}

.teddy figure {
  background-color: #F7F2EC;
  border-radius: 28px 28px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
}

.teddy {
  gap: 42px
}

.teddy article {
  width: 300px;
}

.teddy article header {
  gap: 8px;
}

.teddy article header p {
  font-size: 20px;
  font-weight: 600;
}

.teddy-button {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  border-radius: 28px;
  border: 2px solid #FFF;
  background: #BF8B70;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.35);
  padding: 12px 0;
  width: 237px;
}

.most-wanted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 16px;
  background-color: #F7F2EC;
}

.most-wanted ul {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: center;
}

.for-you, .clients-opinion {
  text-align: center;
  padding: 64px 16px;
  background-color: #E1EDE9;
}
.for-you, .clients-opinion {
  h1 {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.for-you, .clients-opinion {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  } 
}

.for-you, .clients-opinion {
  article {
    border-radius: 31px;
    border: 3px solid #C9B079;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 378px;
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

.carousel-container {
  width: 100%;
  max-width: 1230px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.carousel-inner {
  display: flex;
  gap: 48px;
  transition: transform 0.5s ease;
}

.carousel-inner li {
  flex: 0 0 calc((100% - 96px) / 3);
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 600px;
  }
  .carousel-inner li {
    flex: 0 0 calc((100% - 48px) / 2);
  }
}

.carousel-dots {
  text-align: center;
  margin-top: 15px;
}

.carousel-dots button {
  border: none;
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-dots button.active {
  background: #3A2215;
}

.clients-opinion .title {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.clients-opinion article {
  p, h6 {
    text-align: start;
  }

  p {
    line-height: 150%;
  }

  header {
    display: flex;
    align-self: start;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
  }

  .avatar {
    border: 1px solid #C9B079;
    font-size: 36px;
    font-weight: 500;
    border-radius: 100%;
    height: 56px !important;
    width: 56px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tocco-speciale {
  background-color: #F7F2EC;
  padding: 64px 16px;

  > h2 {
    margin-bottom: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.tocco-speciale-grid {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.tocco-speciale-grid article {
  max-width: 640px;
  width: 100%;
  border-radius: 42px;
  border: 3px solid #C9B079;
  background: #FFF;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  h2, h3, p {
    text-align: start;
  }

  h2 {
    font-size: 32px;
  }
}

.tocco-speciale-grid > article {
  display: flex;
  flex-direction: column;
  height: 690px;

  figure {
    flex: 1;
  }

  header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 48px;
    background-color: #fff;

    p {
      margin-top: 16px;
      margin-bottom: 24px;
    }
  }
}

.tocco-speciale-grid div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 690px;
  gap: 32px;
}

.tocco-speciale-grid div article {
  display: flex;
  height: 338px;
  min-width: 460px;
  border-radius: 16px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;

    p {
      margin-top: 8px;
      margin-bottom: 18px;
    }
  }
}

.tocco-speciale-grid div article:first-child {
  figure {
    flex: 1;
  }

  header {
    flex: 1;
    background-color: #E1EDE9;
  }
}

.tocco-speciale-grid div article:nth-child(2) {
  figure {
    flex: 1;
  }

  header {
    flex: 1;
    background-color: #F0DACD;
  }
}

.tocco-speciale-grid {
  aspect-ratio: 2 / 1;
}

footer {
  background-color: #F0DACD;

  hr {
    height: 6px;
    background-color: #C9B079;
    border: none;
    margin: 0 64px;
  }

  >:last-child {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 24px 64px;
    flex-wrap: wrap;
    gap: 32px;
  }
}

footer .contact {
  display: flex;
  padding: 32px 64px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  h2, p {
    text-align: start;
  }

  form {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
  }
  

  input {
    border: 1px solid #000;
    background-color: #FFF;
    padding: 12px;
  }

  button {
    border: 1px solid #000;
    background: #BF8B70;
    padding: 12px;
    color: #fff;
  }
}

footer .about {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  flex-wrap: wrap;
  gap: 32px;

  > div {
    display: flex;
    flex-direction: column;

    h6 {
      margin-bottom: 24px;
      font-weight: 500;
    }

    a:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}