* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto serif";
}

body {
  box-sizing: border-box;
}

body a {
  cursor: pointer;
}

body button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body h1 {
  font-size: 48px;
  font-weight: 600;
}

body h2 {
  font-size: 36px;
  font-weight: 600;
}

body h3 {
  font-size: 24px;
  font-weight: 600;
}

.discount {
  display: flex;
  justify-content: space-between;
  padding: 11px 64px;
  background-color: #F0DACD;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px ;
  align-items: center;
}

header button {
  background-color: #89D3D1;
  padding: 6px 16px;
  border-radius: 71px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

header nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}

header nav {
  display: flex;
  gap: 40px;
}

.home img {
  width: 100%;
}